{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
  ],
  "settings": {
    "import/resolver": {
      // You will also need to install and configure the TypeScript resolver
      // See also https://github.com/import-js/eslint-import-resolver-typescript#configuration
      "typescript": true,
      "node": true,
    },
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "project": ["./tsconfig.json"],
  },
  "env": {
    "node": true,
    "es2022": true,
  },
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-parameter-properties": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-empty-function": "warn",
    "import/no-cycle": [
      "error",
      {
        "maxDepth": 10,
        "ignoreExternal": false,
      },
    ],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
      },
    ],
  },
  "ignorePatterns": [
    "node_modules/",
    "dist/",
    "build/",
    ".next",
    ".cache",
    "package-lock.json",
    "jest.setup.ts",
    "yarn.lock",
    "public/",
    "next-env.d.ts",
    "next.config.ts",
    "tests/",
    "**/*.test.ts",
  ],
}
